*{
    margin:0;
    padding:0;
    
}


.body{
    font-family: "Manrope", system-ui; ;
}

.container-1{
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.07048030393798144) 0%, rgba(218,70,239,0.05087246080072649) 42%, rgba(241,244,253,0.09849150841977417) 83%);
    height: 800px;
    
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    


   

}
.card-1{
    margin-left: 300px;
    margin-top: 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "headline-1"
                            "underline-1"
                            "buttons-apps";
    
                           

  

.headline-1{
    color: #0B0F19;
    font-size: 56px;
    font-weight: 800;
    grid: headline-1;

}

.underline-1{
    color:#565973;
    font-size: 18px;
    grid: underline-1;
   
}

.buttons-apps{
 
}
.btn-appstore{
        
}
.btn-googleplay{
  
}


}

.phone-box1{
    grid: phone-box1;
    width: 1300px;
       .img-back{
        
       }
       .img-front{
           
       }
   }



.container-2{
    background-color: white;
    height: 500px;
}