*{
    margin:0;
    padding:0;
    
}




.logo-head{
    font-family: "Manrope", system-ui;
    display: grid;
    grid-template-rows: 1fr;
    height: 80px;
    position: relative;
.logo{
    margin-left: 140px;
    position: absolute;
    margin-top: 5px;
}

.btn-head{
    margin-top: 18px;

.Features{
    font-size: 18px;
    color: #33354D;
    margin-left: 450px;
    position: absolute;
   
    font-weight: 600;
}


.darkmode{
    margin-left: 1220px;
    font-weight: 16px;
    color: #565973;
    
    
}


}
.sign-in{
    background-color: #6366F1;
    
    font-weight: 14px;
    padding-top: 5px;
    padding-left: 35px;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    margin-left: 1400px;

    .btn-person{
        justify-content: center;
        font-size: 20px;
    }

    .btn-sign-in{
        color:white;
        justify-content: center;
        margin-left: 2px;
        
    }

}
}


.body{
    font-family: "Manrope", system-ui; 
}

.container-1{
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.07048030393798144) 0%, rgba(218,70,239,0.05087246080072649) 42%, rgba(241,244,253,0.09849150841977417) 83%);
    height: 800px;
    
    display: grid;
    
    grid-template-columns: 1fr 2fr ;

}
.card-1{
    margin-left: 270px;
    margin-top: 10rem;

.headline-1{
    color: #0B0F19;
    font-size: 56px;
    font-weight: 800;
    width: 500px;
}

.underline-1{
    color:#565973;
    font-size: 18px;
    width:450px;
}

.buttons-apps{
 margin-top: 3rem;
}

.btn-googleplay{
  margin-left: 25px;
}

}

.phone-box1{
    position: relative;
    
    .img-back{
    position: absolute;
    z-index: -10;
    bottom: 0;
    right: 0px;
    left: 140px;
    }
    .img-front{
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 370px;
    }
}

.btn-circle{
    background-color: white;
    font-size: 10px;
    display:inline-block;
    text-align: center;
    padding:10px;
    border-radius:50%;
    margin-top:110px;
    margin-right: 1rem;
}
.Discover-more{
    font-size:14px;
    color:#565973;
    margin-top:110px;
    
    
}
.container-2{
    background-color: white;
    height: 1000px;
   
   .card-2{
   display: grid;
   grid-template-rows: 1fr;
   height: 80px;
   position: relative;
   margin-top: 50px;

        .logo-1{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px;
            margin-left: 260px;
           position:absolute;

            .img-sponsor1{
                margin-top:40px;
                margin-left:40px;
            }
        }

        .logo-2{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px;
            margin-left: 482px;
            position:absolute;

            .img-sponsor2{
                margin-top:40px;
                margin-left:25px;
            }
        }

        .logo-3{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px;
            margin-left: 702px;
            position:absolute;

            .img-sponsor3{
                margin-top:40px;
                margin-left:25px;
            }
        }

        .logo-4{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px;
            margin-left: 922px;
            position:absolute;

            .img-sponsor4{
                margin-top:35px;
                margin-left:30px;
            }
        }

        .logo-5{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px;
            margin-left: 1142px;
            position:absolute;

            .img-sponsor5{
                margin-top:35px;
                margin-left:30px;
            }
        }

        .logo-6{
            font-size: 50px;
            width: 196px;
            height: 100px;
            border: 1px solid #E2E5F1;
            border-radius: 10px; 
            margin-left: 1360px;
            position:absolute;
            
            .img-sponsor6{
                margin-top:30px;
                margin-left:35px;
            }
        }
    }

    .card-3{

    }
}

.container-3{
    background-color: #F3F6FF;
    height: 800px;
}