*{
    margin:0;
    padding:0;
    
}

.body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-1{
    background-color: #6365f10e;
    height: 800px;
 
}
.card-1{
    margin-left: 300px;
    margin-right: 1060px;
    
    padding-top: 3rem;
}
.headline-1{
    color: #0B0F19;
    font-size: 4rem;
    margin-top: 160px;
    padding-bottom: 2rem;
    width: 650px;
}

.underline-1{
    color:#565973;
    font-size: 18px;
    width: 450px;
    padding-bottom: 15rem;
}

.container-2{
    background-color: white;
    height: 500px;
}

